/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
}

/* Set default font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/*f0f0f0
/* Add styles for headings */
h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

/* Add styles for paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Add styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.navbar-button {
    background-color: transparent;
}

body {
    min-height: 100%
}

.transparent {
    background-color: #bababa00!important;
}

.mapster_el {
    opacity: 0.7 !important;
}

#mapster_wrap_0 {
    opacity: 0.7 !important;
}

.title {
    background-color: #f0f0f0 !important;
}

.table {
    background-color: #f0f0f000 !important;
}

.shade {
    width: 600px;
    height: 400px;
    border: none
}


.meter{
    background-color: rgb(55, 55, 55) !important;
    width: 80%;

}

.placeholder-text{
    font-size:2vw;
    text-align: center !important;
    height: 100%;
    width: 100%;
}

.temp-meter{
    font-family: digital;
    font-size: 4vw;
}

.Energy-meter{
    font-family: digital;
    color: #000000;
    font-size: 2.7vw;
    background-color: white;
    text-align: center;
    margin:12vh;
    margin-left: 20px;
    margin-right: 20px;
}

.switch-table-height{
    height:12vh;
}

.switch-remove-gap{
    margin-top: -1.5vh;
}

.indicator-text{
    font-size: 1.1vw;
}
.select{
    width:12vw;
    font-size:1.5vh;
    text-align: center;
}

.sensorTimeSelect{
    width:6vw;
    font-size:1.5vh;
    text-align: center;
}

.offcanvas-title{
    height: 2vh;
}

.alert-text{
    color: red;
    cursor: pointer;
}

.highlight{
    background-color: yellow;
}

@font-face{
    font-family:'digital';
    src: url('./DIGITALDREAM.ttf');
}

.form-switch .form-check-input:checked {
    background-color: green;
    border-color: green;
}

#grad {
  background-image: linear-gradient(to right,blue,green,red);
  height: 2vh
} 